spring:
  application:
    name: employee-management

  datasource:
    url: jdbc:mysql://localhost:3306/employee_management
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

